@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
    display: none; /* Для вебкит-браузеров (Chrome, Safari, Opera) */
}
html {
    scrollbar-width: none;
}
input, textarea{
    outline:none;
}