<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://widget.payselection.com/lib/pay-widget.js"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!-- Кнопка для запуска оплаты -->
    <button id="checkout">го</button>
    <script type="text/javascript">
      // Функция оплаты
      function pay() {
        if (!window.pw) {
          console.error("PayWidget is not loaded");
          return;
        }

        var widget = new pw.PayWidget();
        console.log("PAY"); // Лог для отладки

        // Вызов метода оплаты
        widget.pay(
          {
            serviceId: "20071",
            key: "045139ce4805a5d0c2f46f7f0844d1ff269dd869344bc82301a3eba0fb67eb56cb65c789a46c535d124d08d2e6348a86938494b561363c0a9b74958e24f4b2ea0d",
            logger: true,
          },
          {
            MetaData: {
              PaymentType: "Pay", // Метод одностадийной оплаты
            },
            PaymentRequest: {
              OrderId: "string12", // Идентификатор заказа
              Amount: "123", // Сумма платежа
              Currency: "RUB", // Валюта
              Description: "string", // Назначение платежа
            },
          },
          {
            onSuccess: function (res) {
              console.log("Payment successful", res);
            },
            onError: function (res) {
              console.error("Payment error", res);
            },
            onClose: function () {
              console.log("Payment widget closed");
            },
          }
        );
      }

      document.getElementById("checkout").addEventListener("click", pay);
    </script>
  </body>
</html>
